h1{
  color: Red
}
img{
  float: left;
  border: 4px solid black;
}
body{
  background-color:blue;
}
.text-box{
  border: 5px solid black;
  padding: 6px;
  margin: 20px;
  float: left;
  opacity: 0.8;
  background-color: white;
}
p {
  font-size: 20px; 
  font-style: italic;
}
.keyin p {
  background-color:red;
}